<!DOCTYPE html>
<html>
  <head>
    <style>
      div {
        width: 100px;
        height: 100px;
        background-color: lightblue;
      }

      div.overflow_hidden {
        overflow: hidden;
      }
      div.overflow_scroll {
        overflow: scroll;
      }
      div.overflow_visible {
        overflow: visible;
      }
    </style>
  </head>

  <body>
    <h1>overflow 属性</h1>

    <h2>overflow: hidden</h2>
    <div class="overflow_hidden">
      这是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长的一段话。
    </div>

    <h2>overflow: scroll</h2>
    <div class="overflow_scroll">
      这是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长的一段话。
    </div>

    <h2>overflow: visible</h2>
    <div class="overflow_visible">
      这是很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长的一段话。
    </div>
  </body>
</html>